@import "tailwindcss";

@theme {
  --color-primary: #fb8597;
  --color-primary-dark: #ffb6c1;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #121212;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
}
